/documentos/*
!/documentos/Processo de Automação.txt
!/documentos/Mapeamento para Prova de Conceito - OEC - EBS Recursos e Departamentos.docx
!/documentos/RECURSOS_DEPARTAMENTOS.xlsx

**/__pycache__
*.log